@charset "UTF-8";


footer {
    background-color: #000080;
    min-height: 6.25rem; 
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
}

.blocco-sinistro {
    float: left;
    padding-top: 1.5625rem;  
    padding-left: 4%;      
    color: #FFFFFF;
    font-size: 1.375rem;    
}

.testo-info {
    display: block;
    line-height: 1.2;	/* perche rende meglio con em e non unitario? */
    margin-bottom: 0.25em; 
}

.collegamento-youtube {
    float: right;
    min-height: 6.25rem;
    padding: 0 4%;          
}

.immagine-youtube {
    height: 3.75rem;         
    width: auto;
    margin-top: 1.25rem;     
    display: block;
}


@media (max-width: 2560px) {
    .piede-pagina {
        min-height: 5rem; 
    }
    .blocco-sinistro {
        padding-top: 1.25rem;
        padding-left: 3%;
        font-size: 1.0625rem; 
    }
    .collegamento-youtube {
        min-height: 5rem;
        padding: 0 3%;
    }
    .immagine-youtube {
        height: 2.875rem;
        margin-top: 1.0625rem;
    }
}


@media (max-width: 1280px) {
    footer {
        min-height: 3.75rem; 
    }
    .blocco-sinistro {
        padding-top: 0.875rem;
        font-size: 0.8125rem; 
    }
    .collegamento-youtube {
        min-height: 3.75rem;
    }
    .immagine-youtube {
        height: 2.25rem;
        margin-top: 0.75rem;
    }
}


@media (max-width: 1280px) and (min-width: 769px) and (orientation: landscape) {
    footer {
        min-height: 4.6875rem; 
    }
    .blocco-sinistro {
        padding-top: 1.125rem;
        font-size: 1rem;       
    }
    .collegamento-youtube {
        min-height: 4.6875rem;
    }
    .immagine-youtube {
        height: 2.75rem;
        margin-top: 0.9375rem;
    }
}


@media (max-width: 1280px) and (min-width: 769px) and (orientation: portrait) {
    footer {
        min-height: 4.375rem; 
    }
    .blocco-sinistro {
        padding-top: 1.125rem;
        font-size: 0.875rem;  
    }
    .collegamento-youtube {
        min-height: 4.375rem;
    }
    .immagine-youtube {
        height: 2.5rem;
        margin-top: 0.9375rem;
    }
}


@media (max-width: 768px) {
	/*
    body {
        padding-bottom: 10rem; 
    }
    non mi serve piu */
    footer {
        min-height: auto;
        position: absolute;
        padding: 1.25rem 0;
        text-align: center;
    }
    .blocco-sinistro {
        float: none;
        padding-top: 0;
        padding-left: 0;
        width: 100%; 
    }
    .collegamento-youtube {
        float: none;
        min-height: auto;
        padding: 0;
        display: block;
        width: 100%; 
    }
    .immagine-youtube {
        margin: 1rem auto 0 auto;
    }
}